**DÃ©normalisation retenue:**

In [1]:
{
    "members":
    {
        "member_no": "1",
        "lastname": "DOUGLAS",
        "firstname": "Michael",
        "phone_number":"blabla",
 
        "location":
        {
            "country":"France",
            "region_no":"IDF",
            "city":"Paris",
            "mail_code":"75000",
            "street":"blabla"
        },
 
        "balance":
        {
            "prev_balance": "1000",
            "curr_balance": "1200"
        },
 
        "_comment":"No need to have a list, each employee have only 1 corporation",
        "corporation":
        {
            "corp_no":1,
            "corp_name":"blabla",
            "region_no":"XX"
        },
 
        "charge": [
            {
                "charge_no": "125",
                "category_no": "12",
                "category_desc": "Travel",
                "charge_dt": "2000-02-22 10:43:38",
                "charge_amount": "336.0000",
 
                "provider_no":12,
                "provider_name":"BNP Paribas",
                "provider_phone_number": "blabla",
                "payments":[1546, 1547,... , 1578]
            }
        ]
},
     "providers":
        {
            "provider_no":1,
            "provider_name":"BNP",
            "location":
            {
                "country":"France",
                "region_no":"IDF",
                "city":"Paris",
                "mail_code":"75000"
            }
        },
 
 
    "payments":
        {
            "payment_no":1546,
            "payment_dt":"2000-02-22 10:43:38",
            "payment_amt":125.00
        }
}

{'members': {'member_no': '1',
  'lastname': 'DOUGLAS',
  'firstname': 'Michael',
  'phone_number': 'blabla',
  'location': {'country': 'France',
   'region_no': 'IDF',
   'city': 'Paris',
   'mail_code': '75000',
   'street': 'blabla'},
  'balance': {'prev_balance': '1000', 'curr_balance': '1200'},
  '_comment': 'No need to have a list, each employee have only 1 corporation',
  'corporation': {'corp_no': 1, 'corp_name': 'blabla', 'region_no': 'XX'},
  'charge': [{'charge_no': '125',
    'category_no': '12',
    'category_desc': 'Travel',
    'charge_dt': '2000-02-22 10:43:38',
    'charge_amount': '336.0000',
    'provider_no': 12,
    'provider_name': 'BNP Paribas',
    'provider_phone_number': 'blabla',
    'payments': [1546, 1547, Ellipsis, 1578]}]},
 'providers': {'provider_no': 1,
  'provider_name': 'BNP',
  'location': {'country': 'France',
   'region_no': 'IDF',
   'city': 'Paris',
   'mail_code': '75000'}},
 'payments': {'payment_no': 1546,
  'payment_dt': '2000-02-22 10:43:38',
  'payment_amt': 125.0}}

In [2]:
Bank_list = [
    "Goldman Sachs",
    "Morgan Stanley",
    "Bank of America",
    "Citigroup",
    "JPMorgan Chase & Co",
    "Wells Fargo",
    "PNC Financial Services",
    "US Bank",
]

In [3]:
!pip install random-address

Requirement already satisfied: random-address in /opt/homebrew/Caskroom/miniforge/base/lib/python3.9/site-packages (1.1.1)

In [17]:
from faker import Faker
import pandas as pd
import numpy as np
from random import randint

from random_address import real_random_address

fake = Faker()

In [5]:
n = 1000

df = pd.DataFrame([{
    "member_no": i,
    "lastname": fake.last_name_nonbinary(),
    "firstname": fake.first_name_nonbinary(),
    "phone_number": '0'+fake.msisdn()[3:] ,

    "country": "United States",
    "region_no": address['state'],
    "city": address['city'] if 'city' in address.keys() else 'Boston' ,
    "mail_code": address['postalCode'],
    "street": address['address1']
} for (i,address) in zip(range(n),[real_random_address() for i in range(n)]) ])
df

,member_no,lastname,firstname,phone_number,country,region_no,city,mail_code,street
0,0,Pierce,Mary,04907884395,United States,AL,Montgomery,36116,3111 Gentilly Court
1,1,Cox,Adam,07468454295,United States,VT,Rutland,05701,17 Hillcrest Road
2,2,Williams,Brendan,01830701976,United States,MA,Melrose,02176,82 East Foster Street
3,3,Baker,Mark,09137212810,United States,CA,Berkeley,94703,2704 McGee Avenue
4,4,Foster,Jasmine,06708050828,United States,MA,Pittsfield,01201,189 Dalton Avenue
...,...,...,...,...,...,...,...,...,...
995,995,Garcia,Andrew,04333178836,United States,GA,Savannah,31410,1612 Whitemarsh Way
996,996,Ross,Jose,03984515778,United States,CO,Arvada,80004,6385 Oak Street
997,997,Aguilar,William,09168559148,United States,MD,Pasadena,21122,210 Long Hill Court
998,998,Larson,Tony,03981598024,United States,AZ,Glendale,85303,5936 North 80th Drive
999,999,Sparks,Jason,03056546896,United States,FL,Panama City,32404,5415 Frank Hough Road

In [6]:
(df.memory_usage()/1024/1024).sum()

0.06878662109375

In [7]:
df.to_csv('members.csv')

In [8]:
n = 20

df = pd.DataFrame([{
    "provider_no": i,
    "provider_name": Bank_list[randint(0, len(Bank_list)-1)],
    "phone_number": '0'+fake.msisdn()[3:] ,
    "country": "United States",
    "region_no": address['state'],
    "city": address['city'] if 'city' in address.keys() else 'Boston' ,
    "mail_code": address['postalCode'],
    "street": address['address1']
} for (i,address) in zip(range(n),[real_random_address() for i in range(n)]) ])
df

,provider_no,provider_name,phone_number,country,region_no,city,mail_code,street
0,0,Wells Fargo,00522006126,United States,OK,Oklahoma City,73121,1908 Peachtree Avenue
1,1,US Bank,08760148149,United States,KY,Louisville,40272,9401 3rd Street Road
2,2,Bank of America,08151027644,United States,CT,Manchester,06042,210 Green Road
3,3,Morgan Stanley,03575384085,United States,TN,Nashville,37080,7730 Wilkinson Road
4,4,PNC Financial Services,01884950863,United States,AL,Montgomery,36117,1914 Stratford Downs Drive
5,5,PNC Financial Services,09763942876,United States,MD,Annapolis,21409,1852 Cherry Road
6,6,US Bank,06328957372,United States,CO,Arvada,80003,7300 West 74th Place
7,7,PNC Financial Services,01171008544,United States,AZ,Glendale,85310,7419 West Hill Lane
8,8,US Bank,06296907999,United States,DC,Washington,20002,316 20th Street Northeast
9,9,PNC Financial Services,04013338636,United States,MA,Wakefield,01880,53 Greenwood Avenue
10,10,US Bank,09844786610,United States,OK,Oklahoma City,73109,1236 Southwest 49th Street
11,11,US Bank,07904627785,United States,KY,Louisville,40241,11012 Eagles Cove Drive
12,12,JPMorgan Chase & Co,04034714239,United States,VT,New Haven,05472,386 Daniels Road
13,13,Bank of America,06914283293,United States,AK,Anchorage,99515,11300 Lillian Lane
14,14,Goldman Sachs,07300952136,United States,KY,Louisville,40245,3408 Bellisima Place
15,15,Bank of America,01787221118,United States,MD,Crownsville,21032,814 Miner Road
16,16,JPMorgan Chase & Co,05202353746,United States,AL,Montgomery,36104,1606 Aaron Street
17,17,US Bank,08930115722,United States,DC,Washington,20001,1340 5th Street Northwest
18,18,Wells Fargo,07484924723,United States,DC,Washington,20001,1001 6th Street Northwest
19,19,US Bank,02448943871,United States,CT,Manchester,06040,197 Oak Street

In [9]:
df.to_csv('providers.csv')